<article class="first-section">
  <section class="first-section__img"></section>
  <section class="first-section__container">
    <h1 class="first-section__title">The Bright Future of Web 3.0?</h1>
    <section class="first-section__paragraph">
      <p class="first-section__text">
        We dive into the next evolution of the web that claims to put the power
        of the platforms back into the hands of the people. But is it really
        fulfilling its promise?
      </p>
      <button class="first-section__button">Read more</button>
    </section>
  </section>
</article>
