/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --container-padding-x: 1rem;
  --container-padding-y: 2rem;
  --max-width: 1500px;

  @media screen and (min-width: 768px) {
    --container-padding-x: 3rem;
    --container-padding-y: 4rem;
  }
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}
